body {
  background-color: #0b192c;
}

.img-round {
  border-radius: 20%;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.projectImage {
  border: 2px solid white;
  border-radius: 5px;
  height: 200px;
  width: 400px;
  object-fit: cover;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.514);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 820px) {
  .projectImage {
    height: 100px;
    width: 200px;
  }

  #projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
